* {
	font-family: Helvetica Neue, Segoe UI, sans-serif;
}

button, input {
	margin: 3px;
}

ul {
	list-style: none;
	padding: 0;
}

input[type="text"] {
	width: 300px;
}

:checked + input[type="text"] {
	color: gray;
	font-style: italic;
	text-decoration: line-through;
}
#app.logged-in #login_button{
	display: none;
}
#app:not(.logged-in) #logout_button{
	display: none;
}
#app:not(.logged-in) #save_button{
	display: none;
}
#loader{
	width: 50px;
}
#save_loader{
	height: 1.2em;
}
#app:not(.loading) #loader{
	display:none;
}
#app.loading #tasks_container{
	display:none;
}
#app.saving #save_button{
	display: none;
}
#app:not(.saving) #save_loader{
	display: none;
}